# ArgoCD Image Updater Configuration
# This automatically updates the image tag when new images are pushed

apiVersion: v1
kind: ConfigMap
metadata:
  name: argocd-image-updater-config
  namespace: argocd
  labels:
    app.kubernetes.io/name: argocd-image-updater
data:
  registries.conf: |
    registries:
      - name: GitHub Container Registry
        api_url: https://ghcr.io
        prefix: ghcr.io
        default: true
      - name: Docker Hub
        api_url: https://registry-1.docker.io
        prefix: docker.io
        default: false

---
# Annotate the Application to enable image updates
# Add these annotations to your application.yaml:
#
# metadata:
#   annotations:
#     argocd-image-updater.argoproj.io/image-list: app=ghcr.io/YOUR_USERNAME/exam-study-app
#     argocd-image-updater.argoproj.io/app.update-strategy: latest
#     argocd-image-updater.argoproj.io/write-back-method: git
